a {
    background-color: black;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
    background-color: black;
}