body {
    margin: 0px;
}

.navbar {
    background-color: black;
}

a {
    background-color: black;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    padding: 20px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar li a:hover {
    background-color: grey;
}