/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variabelen voor de kleuren */
:root {
    --bg-zwart-900: #f2f2fc;
    --bg-zwart-100: #fdf9ff; 
    --bg-zwart-50: #e8dfec;
    --tekst-zwart-900: #302e4d;
    --tekst-zwart-700: #504e70;
    --hoofdkleur: #0099ff;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-zwart-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}

.navbar {
    width: 270px;
    background: var(--bg-zwart-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-zwart-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.navbar .navul {
    margin-top: 50px;
}

.navbar .navul li {
    margin-bottom: 20px;
    display: block;
}

.navbar .navul li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-zwart-50);
    color: var(--tekst-zwart-900);
    padding: 5px 15px;
}

.navbar .navul li a .active {
    color: var(--hoofdkleur);
}

.navbar .navul li a i {
    margin-right: 15px;
}


























/* body {
    margin: 0px;
}

.navbar {
    background-color: black;
}

.navbar a {
    background-color: black;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    padding: 20px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar li a:hover {
    background-color: grey;
} */